# Ignorar pastas de binários de build
[Bb]in/
[Oo]bj/

# Ignorar tudo dentro de bin e obj
**/bin/*
**/obj/*

# Mas permitir algumas DLLs específicas (ex: DaO.dll)
!**/bin/Debug/DaO.dll
!**/bin/Debug/DaO.pdb


# Ignorar pastas de pacotes NuGet
packages/

# Ignorar a pasta oculta de configuração do Visual Studio (VS 2017+)
**/.vs/
.vs
.vs/

# Ignorar arquivos de usuário/configuração
*.suo
*.user
*.useros
*.userprefs
**/*.user
**/*.suo
**/*.userprefs